:root {
  --main-bg-color: #01426A;
  --secondary-bg-color: #F2F2F2;
  --main-text-color: #FFF;
  --secondary-text-color: #706666;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir Next";
  }

#anonymousPanel {
  background-color: yellow;
}

  .action {
    color: #2196F3;
    cursor: pointer;
    text-decoration: underline;
  }

  .header {
    grid-area: header;
    background-color: var(--main-bg-color);
    color: var(--main-text-color)
  }

  .sidebar {
    grid-area: sidebar;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    overflow-y: auto;
  }

  .map {
    grid-area: map;
  }

  .wrapper {
    display: grid;
    grid-template-rows: 60px  auto 40%;
    grid-template-areas:
     "header"
     "sidebar"
     "map";
    width: 100vw;
    height: 100vh;
  }

  .box {
    /* color: #fff; */
    padding: 10px;
    font-size: 16px; 
  }

  @media only screen and (min-width: 544px)  {
    .wrapper {
      grid-template-columns: 30% auto;
      grid-template-rows: 50px  auto;
      grid-template-areas:
        "header   header"
        "sidebar  map";
      }
    }